@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

body {
    font-family: 'Lato', sans-serif;
    background: #f6f6f6;
}

/* first menu*/

.first-menu {
    background: #333333;
    display: flex;
    color: white;
    padding: 12px 20%;
    text-transform: uppercase;
}

.first-menu ul { 
    list-style: none;
    display: flex;
    align-items: center;
}

.first-menu li {
    display: inline-block;
    padding: 0px 20px;
    font-size: 0.7rem;
}

.first-menu li:first-child {
    padding: 0px;
}

/* main menu */

.main-menu {
    background: #fff;
    display: flex;
    padding: 12px 20%;
    box-shadow: 0 1px 5px 0 rgba(0,0,0,.05);
    height: 130px;
    flex-direction: column;
    justify-content: space-between;
}

.main-menu ul { 
    list-style: none;
    display: flex;
    align-items: center;
}

.main-menu li {
    text-transform: uppercase;
    display: inline-block;
    padding: 0px 20px;
    font-size: 1rem;
}

.main-menu li:first-child {
    padding: 0px;
}

.main-menu a {
    text-decoration: none;
}

.logo {
    text-align: center;
}

/* articles */

main {
    display: flex;
    padding: 12px 20%;
}