<!doctype html>
<html lang="en">

<head>
    <title>Hello World</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="{{ url_for('static', filename='reset.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='base.css') }}">
</head>

<body>

    <header>
        <div class="first-menu">
            <ul>
                <li>OPTION 1</li>
                <li>OPTION 2</li>
                <li>OPTION 3</li>
                <li>OPTION 4</li>
                <li>OPTION 5</li>
            </ul>
        </div>
        <div class="main-menu">
            <div class="logo">Civil Cultural</div>
            <ul>
                <li><a href="{{ url_for('home') }}">Home</a></li>
                <li><a href="{{ url_for('topic') }}">Topic</a></li>
                <li>OPTION 7</li>
                <li>OPTION 8</li>
                <li>OPTION 9</li>
            </ul>
        </div>
    </header>
    <main>
        <article>
            {% block content %}{% endblock %}
        </article>
    </main>

    <sidebar>
    </sidebar>

</body>

</html>