{% extends "base.html" %}

{% block content %}
    {% if article %}

    <h1 style="font-size: 24px" >{{ title }}</h1>
    <p>{{ body }}</p>

    {% else %}
    <p>Select an article</p>
    {% endif %}
{% endblock %}
